<include file="Public:head"/>
<div class="container">
  <div class="inner clearfix"> <include file="Public:left" />
    <div class="content-right fl">
      <h1 class="content-right-title">时间点列表</h1>
      <div class="alert alert-info disable-del"> 目前拥有 <span style="font-size:16px;">{$catelists|count}</span>个秒杀时间点。
      <a href="javascript:;" class="alert-delete" title="隐藏"><i class="gicon-remove"></i></a> </div>
      <div class="tablesWrap">
        <div class="tables-searchbox">
          <div class="fl">
          <a href="javascript:;" class="btn btn-success fl BtnAddClass">添加时间点</a>
          </div>
        </div>
        <!-- end tables-searchbox -->
        <table class="wxtables" style="text-align:center;">
          <colgroup>
          <col width="6%">
          <col width="10%">
          <col width="8%">
          <col width="8%">
          <col width="14%">
          <col width="15%">
          </colgroup>
          <thead>
            <tr>
              <td>ID</td>
              <td>标题</td>
              <td>排序</td>
              <td>状态</td>
              <td>创建时间</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <foreach name="lists" item="vo">
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.timelimit}</td>
                <td>{$vo.sorts}</td>
                <td class="status">
                  <switch name="vo.status">
                    <case value="0">
                      <p style='color:green;'>显示</p>
                    </case>
                    <case value="1">
                      <p style='color:red;'>隐藏</p>
                    </case>
                  </switch></td>
                <td>{$vo.create_at}</td>
                <td>
                    <a href="JavaScript:void(0);" class='btn J-editInfo btn-success' data-info='{$vo.info}' title="编辑">编辑</a>
                    <a href="JavaScript:void(0);" class='btn j-delClass btn-warning' data-id="{$vo.id}">删除</a>
                    <switch name="vo.status">
                      <case value="0"> <a href="JavaScript:void(0);" class="btn btn-warning changeStatus" title="隐藏" data-status="{$list.status}" data-id="{$vo.id}">隐藏</a> </case>
                      <case value="1"> <a href="JavaScript:void(0);" class="btn btn-success changeStatus" title="显示" data-status="{$list.status}" data-id="{$vo.id}">显示</a> </case>
                    </switch>
                </td>
              </tr>
            </foreach>
          </tbody>
        </table>
        <!-- end wxtables -->
        <div class="tables-btmctrl clearfix">
          <div class="fl">
            <div class="pages" style="width:100%;margin-left:0px;"> {$page} </div>
            <!-- end paginate -->
          </div>
        </div>
        <!-- end tables-btmctrl -->
      </div>
      <!-- end tablesWrap -->
    </div>
    <!-- end content-right -->
  </div>
</div>
<include file="Public:foot"/>
<div id="albums-overlay" class="disshow"></div>
<div class="jbox addfenlei disshow" style="height:auto;">
  <div class="jbox-title">
    <div class="jbox-title-txt">添加时间点</div>
    <a href="javascript:;" class="jbox-close cancle"></a></div>
  <div class="jbox-container" style="height: auto;">
    <div class="formitems">
      <label class="fi-name"><span class="colorRed"></span>时间点：</label>
      <div class="form-controls">
        <label>
          <input type="text" class="input" name="timelimit" value="" readonly onClick="WdatePicker({dateFmt:'HH:mm:ss'})">
          <span class="red">*必填</span> </label>
        <span class="fi-help-text"></span> </div>
    </div>
    <div class="formitems">
      <label class="fi-name"><span class="colorRed"></span>排序：</label>
      <div class="form-controls">
        <label>
          <input type="text" name="sorts" value="0" class="input" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
          <span class="red">*必填</span> </label>
        <span class="fi-help-text"></span></div>
    </div>
  </div>
  <div class="jbox-buttons">
  <a href="javascript:void(0);" class="jbox-buttons-ok btn btn-primary" id="examine">确定</a>
  <a href="javascript:void(0);" class="jbox-buttons-ok btn cancle">取消</a></div>
</div>
<script type="text/javascript" src="__JS__/jquery-form.js"></script>
<script type="text/javascript">
$(".cancle").click(function(){
    $(this).parent().parent('.jbox').hide();
    $('#albums-overlay').hide();
    window.location.reload();
})
</script>
<!--添加分类-->
<script type="text/javascript">
var id=0;
$(".BtnAddClass").click(function(){
    $('.addfenlei').show();
    $('#albums-overlay').show();
})
<!--添加部分-->
<!--修改部分-->
$(".J-editInfo").click(function(){
    var info = JSON.parse($.trim($(this).attr("data-info")));
    if(info.id < 1){
        dialog.showTips('错误的编辑','warn');return false;
    }
    id = info.id;
    $(".jbox-title-txt").html('修改时间点');
    $(".addfenlei input[name=timelimit]").val(info.timelimit);
    $(".addfenlei input[name=sorts]").val(info.sorts)
    if(info.pic !=""){
        var img = '<img src="'+info.pic+'" width="80" height="56" style="margin-top:-28px;"><input type="hidden" name="pic" id="addpic" value="'+info.pic+'"></input>';
        $('.showimg').html(img);
    }else{
        $('.showimg').html('');
    }
    $('.addfenlei').show();
    $('#albums-overlay').show();
})
<!--修改部分-->
$("#examine").click(function(){
    var timelimit = $.trim($(".addfenlei input[name=timelimit]").val());
    var pic       = $.trim($("#addpic").val());
    var sorts     = parseInt($(".addfenlei input[name=sorts]").val());
    if(timelimit.length<1){
        dialog.showTips('请填写时间点','warn');return false;
    }else if(timelimit.length>10){
        dialog.showTips('请选择正确的时间点','warn');return false;
    }
    var storeid  = "{$storeid}";
    var malltype = "{$malltype}";
    var data = {action:'addEdit',storeid:storeid,malltype:malltype,id:id,timelimit:timelimit,sorts:sorts};
    console.log(data);  //return false;
    $.post("{:U('Admin/Spikemall/timeLimitAddEditDelStatus')}",data,function(g){
        if(g.status==1){
            dialog.showTips(g.info,'',1);return false;
        }else{
            dialog.showTips(g.info,'warn');return false;
        }
    },"json");
})
</script>
<!--添加分类end-->
<!--修改状态-->
<script>
$(".changeStatus").click(function()
{   //是否显示隐藏
    var id = $(this).attr("data-id");
    if(!id){
        dialog.showTips('错误的请求','warn');return false;
    }
    var _this = $(this);
    $.post("{:U('Admin/Spikemall/timeLimitAddEditDelStatus')}",{action:'changeStatus',id:id},function(data){
        if(data.status == 1){
            var p = _this.parents('tr').find(".status p");
            p.html(data.text);
            _this.attr('data-status',data.status);
            if(_this.hasClass("btn-success")){
                _this.removeClass("btn-success").addClass("btn-warning").html("隐藏");
                p.css("color","green")
            }else{
                _this.removeClass("btn-warning").addClass("btn-success").html("显示");
                p.css("color","red");
            }
            //window.location.reload();   //刷新当前页面.
        }else{
            alert("修改失败");
        }
    },"json")
})
<!--修改状态-->
</script>
<!--删除分类-->
<script>
$(".j-delClass").click(function(){   //是否开始结束
    var id = $(this).attr("data-id");
    if(id > 0){
        if(confirm('确定要删除吗？')){
            $.ajax({
                url: "{:U('Admin/Spikemall/timeLimitAddEditDelStatus')}",
                type: "post",
                dataType: "json",
                data: {
                    action:'Del',
                    id: id,
                }
            }).done(function (res) {
                if (res.status == 1) {
                    dialog.showTips(res.info,"",1); return false;
                } else {
                    dialog.showTips(res.info,"warn"); return false;
                }
            })
        }
    }else{
        dialog.showTips('错误的请求','warn');return false;
    }
});
</script>
<!--删除分类-->