<include file="Public:head"/>
<div class="container">
  <div class="inner clearfix">
    <include file="Public:left"/>
    <!-- end content-left -->
    
    <div class="content-right fl" style="min-height: 650px;">
      <h1 class="content-right-title">欢迎您！</h1>
      <div class="zh_infor_box">
        <div class="zh_infor_left">
          <div class="zh_infor_tt"> <i class="lit_icon mfl"></i> <span class="itt"><b>当前账号：</b></span> {$Think.session.admin} </div>
        </div>
        <div class="clear"></div>
      </div>
    <!-- end content-right --> 
  </div>
</div>
<!-- <div style="display:ne" id="container"></div> -->
<!-- end container --> 
<include file="Public:foot"/>
