<div class="content-left fl">
    <dl class="left-menu shop_8 sub_membership">
        <dt>
            <i class="icon-menu membership"></i>
            <span id="shop_8" data-id="8">后台管理</span>
        </dt>
        <dd class="subshop_0 <eq name='urlname' value='admin'>active</eq>">
            <a href="{:U('/Admin/system/admin')}">管理员列表</a>
        </dd>
        <!-- <dd class="subshop_0 <eq name='urlname' value='index'>active</eq>">
            <a href="{:U('/Admin/system/index')}">接口信息列表</a>
        </dd>
        <dd class="subshop_0 <eq name='urlname' value='mingan'>active</eq>">
            <a href="{:U('/Admin/System/minganList')}">敏感词汇列表</a>
        </dd>
        <dd class="subshop_0 <eq name='urlname' value='version'>active</eq>">
            <a href="{:U('/Admin/System/version')}">版本列表</a>
        </dd> -->
        <dt>
            <i class="icon-menu membership"></i>
            <span id="shop_8" data-id="8">权限管理</span>
        </dt>
        <dd class="subshop_0 <eq name='urlname' value='roleList'>active</eq>">
            <a href="{:U('/Admin/System/roleList')}">权限群组</a>
        </dd>
        <dd class="subshop_0 <eq name='urlname' value='nodeList'>active</eq>">
            <a href="{:U('/Admin/System/nodeList')}">节点列表</a>
        </dd>

    </dl>
</div>